################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Cr8ive_AlbertusSandhy/FileContentIndex/0aff83da-16b9-4dbd-82a1-aee8b6461ed2.vsidx
/.vs/Cr8ive_AlbertusSandhy/FileContentIndex/24c63b7f-899e-41a1-b3c3-00bade5842fd.vsidx
/.vs/Cr8ive_AlbertusSandhy/FileContentIndex/5b26f4e4-b935-4ff9-82b4-b4a928f87124.vsidx
/.vs/Cr8ive_AlbertusSandhy/FileContentIndex/5b7d6903-1db3-46bb-8584-1ab5d79b7376.vsidx
/.vs/Cr8ive_AlbertusSandhy/FileContentIndex/5b9597b0-a052-4018-9a2f-c9862593ab61.vsidx
/.vs/Cr8ive_AlbertusSandhy/FileContentIndex/845524c5-a5ce-4509-86d7-95b3ba389ad0.vsidx
/.vs/Cr8ive_AlbertusSandhy/FileContentIndex/883483d3-84ea-4599-b122-76cf215624d7.vsidx
/.vs/Cr8ive_AlbertusSandhy/FileContentIndex/c7b85d7c-8bc0-4df2-aa6d-0080c218b954.vsidx
/.vs/Cr8ive_AlbertusSandhy/FileContentIndex/e9aaa926-5c2e-4839-b048-6c60b85399d8.vsidx
/.vs/Cr8ive_AlbertusSandhy/FileContentIndex/f6a9c22c-7f14-4d6a-9a4e-c09d47cc9f5c.vsidx
/.vs/Cr8ive_AlbertusSandhy/FileContentIndex/0aff83da-16b9-4dbd-82a1-aee8b6461ed2.vsidx
/.vs/Cr8ive_AlbertusSandhy/v17/.futdcache.v2
/.vs/Cr8ive_AlbertusSandhy/v17/.suo
/.vs/Cr8ive_AlbertusSandhy/v17/DocumentLayout.json
/.vs/ProjectEvaluation/cr8ive_albertussandhy.metadata.v8.bin
/.vs/ProjectEvaluation/cr8ive_albertussandhy.metadata.v9.bin
*.bin
/.vs/ProjectEvaluation/cr8ive_albertussandhy.projects.v9.bin
/.vs/ProjectEvaluation/cr8ive_albertussandhy.strings.v9.bin
/Cr8ive_AlbertusSandhy/obj/Cr8ive_AlbertusSandhy.csproj.nuget.dgspec.json
/Cr8ive_AlbertusSandhy/obj/Cr8ive_AlbertusSandhy.csproj.nuget.g.props
/Cr8ive_AlbertusSandhy/obj/project.assets.json
/Cr8ive_AlbertusSandhy/obj/project.nuget.cache
/Cr8ive_AlbertusSandhy_1/obj/Debug/net8.0/Cr8ive_AlbertusSandhy_1.AssemblyInfo.cs
/Cr8ive_AlbertusSandhy_1/obj/Debug/net8.0/Cr8ive_AlbertusSandhy_1.AssemblyInfoInputs.cache
/Cr8ive_AlbertusSandhy_1/obj/Cr8ive_AlbertusSandhy_1.csproj.nuget.dgspec.json
/Cr8ive_AlbertusSandhy_1/obj/Cr8ive_AlbertusSandhy_1.csproj.nuget.g.props
/Cr8ive_AlbertusSandhy_1/obj/Debug/net8.0/Cr8ive_AlbertusSandhy_1.assets.cache
/Cr8ive_AlbertusSandhy_1/obj/Debug/net8.0/Cr8ive_AlbertusSandhy_1.GeneratedMSBuildEditorConfig.editorconfig
/Cr8ive_AlbertusSandhy_1/obj/project.assets.json
/Cr8ive_AlbertusSandhy_1/obj/project.nuget.cache
